<!DOCTYPE html>
<html>
  <head>
    <title>
      To DO
    </title>
  </head>
  <body style="background-color: black; color: white;">
    <table>
      <form method="post" action="/">
        <tr>
          <td>
            Add Notes
          </td>
        </tr>
        <tr>
          <td><input type="text" name="heading" placeholder="Heading" /></td>
        </tr>
        <tr>
          <td><textarea name="data" placeholder="Note"></textarea></td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Add Notes" />
          </td>
        </tr>
      </form>
      <tr>
        <td>
          View Notes
        </td>
      </tr>
      <tr>
        <td>
          <form method="post" action="/">
            <input type="submit" value="View My Notes" ; />
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
